<mat-card class="container">
  <mat-card-header>
    <mat-card-title-group class="header-title">
      <mat-card-title>{{ user.name }}</mat-card-title>
      <mat-card-subtitle
        >{{ user.type }} <br />
        {{ user.bio }}</mat-card-subtitle
      >
      <img mat-card-lg-image src={{user.avatar_url}} alt="Foto de Perfil" />
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <div mat-subheader>Usuário desde</div>
      <mat-list-item>
        <mat-icon matListItemIcon>date_range</mat-icon>
        <div matListItemTitle>{{ user.created_at | date }}</div>
      </mat-list-item>
      <div mat-subheader>Seguidores</div>
      <mat-list-item>
        <mat-icon matListItemIcon>supervisor_account</mat-icon>
        <div matListItemTitle>{{ user.followers }}</div>
      </mat-list-item>
      <div mat-subheader>Acesse no GitHub</div>
      <mat-list-item>
        <button
        matSuffix
        mat-icon-button
        (click)="redirectGithub(user.html_url)"
      >
        <mat-icon>explore</mat-icon>
      </button>
      </mat-list-item>      
    </mat-list>
  </mat-card-content>
</mat-card>
